In [189]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option("display.max_rows", 100)
pd.set_option("display.max_columns", None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [190]:
df = pd.read_csv("./data.csv", sep="\t")
df_riasec = pd.read_csv("./riasec.csv", sep="\t", header=None)

/home/ak2002/.venv/ds3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (93) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [191]:
df.head()

,R1,R2,R3,R4,R5,R6,R7,R8,I1,I2,I3,I4,I5,I6,I7,I8,A1,A2,A3,A4,A5,A6,A7,A8,S1,S2,S3,S4,S5,S6,S7,S8,E1,E2,E3,E4,E5,E6,E7,E8,C1,C2,C3,C4,C5,C6,C7,C8,introelapse,testelapse,surveyelapse,TIPI1,TIPI2,TIPI3,TIPI4,TIPI5,TIPI6,TIPI7,TIPI8,TIPI9,TIPI10,VCL1,VCL2,VCL3,VCL4,VCL5,VCL6,VCL7,VCL8,VCL9,VCL10,VCL11,VCL12,VCL13,VCL14,VCL15,VCL16,education,urban,gender,engnat,age,hand,religion,orientation,race,voted,married,familysize,uniqueNetworkLocation,country,source,major,Unnamed: 93
0,3,4,3,1,1,4,1,3,5,5,4,3,4,5,4,3,5,4,1,2,4,5,2,4,3,5,5,4,5,5,5,5,2,1,4,1,2,2,1,3,1,3,1,1,1,3,1,1,3,110,109,5,4,2,3,2,7,5,6,6,5,1,1,1,1,1,0,0,0,0,1,0,0,1,1,1,1,2,2,1,1,14,1,7,1,1,2,1,1,1,US,2,NaN,NaN
1,1,1,2,4,1,2,2,1,5,5,5,4,4,4,4,4,2,1,4,2,1,3,4,2,2,3,4,3,4,2,3,1,1,1,1,1,1,1,1,3,1,1,2,1,1,2,1,1,25,236,367,5,5,7,4,7,6,6,4,6,1,1,1,1,1,1,0,1,0,0,1,0,0,1,1,1,1,2,2,1,1,29,1,7,3,4,1,2,3,1,US,1,Nursing,NaN
2,2,1,1,1,1,1,1,1,4,1,1,1,1,1,1,1,1,1,1,2,1,1,3,1,3,1,5,3,5,5,4,4,1,3,3,5,1,4,4,3,1,3,2,2,1,2,4,1,29,242,294,6,4,3,7,5,1,7,1,5,3,1,1,0,1,1,0,0,0,0,1,0,0,0,0,1,1,2,1,2,1,23,1,7,1,4,2,1,1,1,US,1,NaN,NaN
3,3,1,1,2,2,2,2,2,4,1,2,4,3,2,3,2,5,2,4,5,1,4,4,2,4,2,3,3,2,1,3,2,5,4,3,2,3,3,2,3,3,2,3,3,2,2,2,2,6,466,414,5,2,7,7,5,7,6,2,3,6,1,1,0,1,1,0,1,0,0,1,0,0,0,0,1,1,1,3,2,2,17,1,0,1,1,2,1,1,1,CN,0,NaN,NaN
4,4,1,1,2,1,1,1,2,5,5,5,3,5,5,5,3,3,5,5,5,5,5,1,5,5,4,4,4,5,5,5,5,2,3,2,3,2,4,2,2,4,2,2,4,5,5,2,2,576,186,209,6,7,1,7,4,7,7,5,4,7,1,0,0,1,0,0,0,0,0,1,0,0,0,0,1,1,3,3,2,2,18,1,4,3,1,2,1,4,1,PH,0,education,NaN

In [192]:
df_riasec.columns = ["item","text"]
df_riasec.head()

  item                                       text
0   R1  Test the quality of parts before shipment
1   R2                          Lay brick or tile
2   R3       Work on an offshore oil-drilling rig
3   R4                  Assemble electronic parts
4   R5    Operate a grinding machine in a factory

In [193]:
# drop unsed cols
df.drop([
    'Unnamed: 93',
     'urban',
     'hand',
     'religion',
     'orientation',
     'race',
     'voted',
     'married',
     'familysize',
     'uniqueNetworkLocation',
     'country',
     'source',
     'major'], axis =1, inplace=True)

In [194]:
# remove fast and slow timers (include above 10% and below 95% percentile)
df = df.loc[df.testelapse.between(*df.testelapse.quantile( q = [.05, .95])), :]

In [195]:
# remove cases who fail the control items
df = df.loc[~df[["VCL6","VCL9","VCL12"]].any(axis=1), :]

In [196]:
# remove cases with any TIPI item missing
df = df.loc[(df.loc[:, [ f"TIPI{col}" for col in range(1,11) ]] > 0).all(axis=1)]

In [197]:
# remove cases with low number of high RIASEC items
df = df[(df.loc[:,"R1":"C8"] > 3).sum(axis=1) > 5 ]

In [198]:
# remove cases with high number of high RIASEC items
df = df[(df.loc[:,"R1":"C8"] > 3).sum(axis=1) < 37 ]

In [199]:
# focus on ages between 18 and 55
df = df.loc[df.age.between(18, 55), :]

In [200]:
# focus on participants who declared their gender
df = df.loc[df.gender.between(1,2), :]

In [201]:
# subsample female component to match male component
df = pd.concat([
    df.loc[df.gender == 1, :],
    df.loc[df.gender == 2, :].sample(n = df.loc[df.gender == 1, :].shape[0], random_state = 42)
])

In [202]:
# reverse TIPI items
tipi_revesed_cols = [ f"TIPI{item}" for item in [2,4,6,8,10] ]
df.loc[:, tipi_revesed_cols ] = 8 - df.loc[:, tipi_revesed_cols ]

In [203]:
# score TIPI
scales = dict(extra=[1,6], agrea=[2,7], consc=[3,8], emstab=[4,9], openn=[5,10])

for scale, scale_items in scales.items():
    df[scale] = df[[ f"TIPI{col}" for col in scale_items ]].mean(axis=1)

In [204]:
# discretize TIPI scales
for scale in ["extra","agrea","consc","emstab","openn"]:
     df[f"{scale}_q"] = pd.cut(df[scale], bins = [ 0, 4, 7 ], labels=[1,2])

In [205]:
# Discretize RIASEC scales
for scale in list("RIASEC"):
    df[f"{scale}"] = df.filter(regex=f"^{scale}\d+$").mean(axis=1)
for scale in list("RIASEC"):
    df[f"{scale}_q"] = pd.cut(df[scale], bins = [ 0, 1, 3, 4, 6, 7  ], labels = range(1,6))

In [206]:
# drop unused columns
df.drop(df.filter(regex="^TIPI\d+$", axis=1).columns, inplace=True, axis=1)
df.drop(df.filter(regex="^VCL\d+$", axis=1).columns, inplace=True, axis=1)
df.drop(df.filter(regex="elapse", axis=1).columns, inplace=True, axis=1)
df.drop(["engnat"], axis=1, inplace=True)

In [207]:
def fn(x):
    return "\n".join(df_riasec.loc[(x == 5).values, "text"])

df["text"] = df.loc[:, "R1":"C8"].apply(lambda x: fn(x) , axis = 1)

In [208]:
df_final = df[["gender","text","agrea_q"]]
df_final = df_final[df_final["text"].str.len() > 0]

In [209]:
df_final

        gender                                               text agrea_q
1            1  Study the structure of the human body\nStudy a...       2
5            1  Lay brick or tile\nFix a broken faucet\nStudy ...       2
15           1  Lay brick or tile\nAssemble electronic parts\n...       2
20           1  Do volunteer work at a non-profit organization...       2
21           1  Conduct a musical choir\nWrite a song\nPlay a ...       2
...        ...                                                ...     ...
985          2  Test the quality of parts before shipment\nStu...       1
116338       2  Do research on plants or animals\nStudy whales...       2
76931        2  Conduct a musical choir\nPlay a musical instru...       2
81354        2  Design artwork for magazines\nGive career guid...       2
131097       2  Perform stunts for a movie or television show\...       2

[40257 rows x 3 columns]

In [210]:
df_final.to_csv("riasec_agrea.csv", index=False)

In [211]:
df.agrea_q.value_counts()

2    29611
1    13869
Name: agrea_q, dtype: int64